name: Release

on:
  push:
    branches:
      - "main"
      - "next_major"

permissions:
  id-token: write # Required for OIDC
  contents: read
  checks: write
  statuses: write
  pull-requests: write

jobs:
  release:
    name: Final
    if: ${{ github.repository == 'opf/openproject-octicons' }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler-cache: true

      - name: Install dependencies
        run: |
          yarn
          bundle install

      # Use the primer GitHub App for authentication.
      # See: https://github.com/organizations/opf/settings/apps/openproject-primer-view-components
      - name: Get App Token
        uses: actions/create-github-app-token@v2
        id: get-access-token
        with:
          app-id: ${{ vars.PRIMER_APP_ID_SHARED }}
          owner: opf
          private-key: ${{ secrets.PRIMER_APP_PRIVATE_KEY_SHARED }}
          repositories: |
            openproject-octicons

      - name: Create release pull request or publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          title: Release Tracking
          version: yarn changeset:version
          publish: script/changeset-publish
        env:
          GITHUB_TOKEN: ${{ steps.get-access-token.outputs.access-token }}
